* {
  list-style: none;
  text-decoration: none;
  font-smooth: never;
  -webkit-font-smoothing : none;
  font-family: 'Press Start 2P', cursive;
}

html, body, canvas {
  padding: 0px;
  margin: 0px;
  overflow-x: hidden;
  overflow-y: hidden;
}

body {
  background-color: black;
}

/*canvas {
  height: 100%;
  width: 100%;
}*/

#root {
  position: absolute;
  width: 80%;
  height: 80%;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  border: thick solid white;
}

#game-canvas {
  background-image: url("../assets/star-background.jpg");
  height: 100%;
  width: 100%;
}

.hidden {
  display: none;
}

#welcome-screen {
  position: absolute;
  width: 50%;
  height: 50%;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  text-align: center;
  color: white;
}

#welcome-screen h1 {
  font-size: 50px;
}

#welcome-screen a {
  color: white;
  font-size: 30px;
}

ul {
  margin: 0;
  padding: 0;
}

li {
  margin-bottom: 20px;
}

#scores {
  position: absolute;
  width: 80%;
  height: 80%;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  color: white;
  font-size: 20px;
}

#scores table {
  padding: 10px;
}

#scores th {
  padding-right: 40px;
}

#scores tr > td {
  padding-top: 15px;
  padding-right: 50px;
}

#scores a {
  color: white;
}

#lives-container {
  position: absolute;
  top: 10px;
  left: 10px;
  color: white;
}

#score-container {
  position: absolute;
  top: 10px;
  right: 10px;
  color: white;
}

#game-over {
  padding-top: 30px;
  padding-bottom: 30px;
  border: solid white;
  background-color: black;
  position: absolute;
  width: 50%;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  text-align: center;
  color: white;
}

#game-over h1 {
  margin-top: 0;
}

#game-over a {
  color: white;
}
