html, body, canvas {
  padding: 0px;
  margin: 0px;
  overflow-x: hidden;
  overflow-y: hidden;
}

#game-canvas {
  /*background-color: black;*/
  background-image: url("../assets/star-background.jpg");
}
